:root {
  --color-principal: #B34B0C;
  --color-secundario: #7C3306;
  --color-fondo: #37322E;
  --color-carta: #524944;
  --color-texto: #B3B2B0;
  --color-borde: #6C6A68;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--color-fondo);
  margin: 0;
  padding: 0;
  color: var(--color-texto);
}

header {
  background-color: var(--color-principal);
  color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

.alias {
  font-weight: bold;
}

.reseña-formulario {
  max-width: 600px;
  margin: 40px auto;
  background-color: var(--color-carta);
  padding: 30px 35px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 10px;
}

.reseña-formulario h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
  color: var(--color-principal);
  font-size: 22px;
}

.reseña-formulario form {
  width: 100%;
}


label {
  font-weight: bold;
  color: var(--color-texto);
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}

textarea,
select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--color-borde);
  border-radius: 6px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.87);
  color: var(--color-fondo);
}

textarea:focus,
select:focus {
  outline: none;
  border-color: var(--color-principal);
  box-shadow: 0 0 5px rgba(179, 75, 12, 0.4);
}

button {
  background-color: var(--color-principal);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 0px;
  width: 100%;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: var(--color-secundario);
  transform: scale(1.02);
}

footer {
  background-color: var(--color-principal);
  color: white;
  padding: 40px 20px 20px 20px;
  margin-top: 40px;
}

.footer-contenido {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-contenido h3,
.footer-contenido h4 {
  margin-bottom: 10px;
  color: #fff;
}

.footer-contenido p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-redes a {
  font-size: 22px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
  transition: transform 0.2s;
}

.footer-redes a:hover {
  transform: scale(1.2);
  color: var(--color-texto);
}

.footer-copy {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 15px;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  display: block;
  text-align: center;
}